<div id="root">

  <div class="form-container">
    <h1>Sign Up</h1>
    <form class="register-form" (ngSubmit)="onRegister()" #registerForm="ngForm">

      <div class="field-group">
        <label for="name">Name</label>
        <input placeholder="Angel Mejia" id="name" type="text" #nameInput="ngModel" [(ngModel)]="registerData.name" name="name" required>
        <div [class.valid]="nameInput.valid" class="error-message">Enter a name</div>
      </div>

      <div class="field-group">
        <label for="email" class="">Email</label>
        <input placeholder="amejiadev@gmail.com" id="email" type="email" #emailInput="ngModel" [(ngModel)]="registerData.email" name="email" required>
        <div [class.valid]="emailInput.valid" class="error-message">Enter an email</div>
      </div>

      <div class="field-group">
        <label for="password" class="">Password</label>
        <input placeholder="******" id="password" type="password" #passwordInput="ngModel" [(ngModel)]="registerData.password" name="password" required>
        <div [class.valid]="passwordInput.valid" class="error-message">Enter a pasword</div>
      </div>

      <!--We can use type="button" when we don't want <form></form> to perform a method but an event-->
      <div class="field-group">
        <button [class.valid]="registerForm.valid" class="register-button" [disabled]="registerForm.invalid" type="submit">Proceed</button>
      </div>
    </form>
  </div>
</div>

